<!DOCTYPE html>
<html lang="en">
<!-- MRTG 2.17.7 -->
<!-- Begin Head -->
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="refresh" content="300" />
		<title>FortiGate100D WAN(ether 6) Enlace PtP Jalife - FiberCorp/Flow (300M) - Central Corrientes</title>
<!-- maxin d 6480288 -->
<!-- maxout d 4006620 -->
<!-- avin d 1400358 -->
<!-- avout d 302647 -->
<!-- cuin d 2309246 -->
<!-- cuout d 428686 -->
<!-- avmxin d 1570542 -->
<!-- avmxout d 367911 -->
<!-- maxin w 9426681 -->
<!-- maxout w 3344063 -->
<!-- avin w 1064608 -->
<!-- avout w 190928 -->
<!-- cuin w 2845237 -->
<!-- cuout w 410236 -->
<!-- avmxin w 1603208 -->
<!-- avmxout w 354424 -->
<!-- maxin m 3866462 -->
<!-- maxout m 1902467 -->
<!-- avin m 1066482 -->
<!-- avout m 189081 -->
<!-- cuin m 674048 -->
<!-- cuout m 44479 -->
<!-- avmxin m 2286948 -->
<!-- avmxout m 644813 -->
<!-- maxin y 1459851 -->
<!-- maxout y 312739 -->
<!-- avin y 988051 -->
<!-- avout y 173276 -->
<!-- cuin y 1267492 -->
<!-- cuout y 301225 -->
<!-- avmxin y 6790854 -->
<!-- avmxout y 1864865 -->
		<style>
			body {
				background-color: #ffffff;
    			color: #000000;
			}
			div {
				border-bottom: 2px solid #aaa;
				padding-bottom: 10px;
				margin-bottom: 5px;
			}
			div h2 {
				font-size: 1.2em;
			}
			div.graph img {
				margin: 5px 0;
			}
			div.graph table, div#legend table {
				font-size: .8em;
			}
			div.graph table td {
				padding: 0 10px;
				text-align: right;
			}
			div table .in th, div table td span.in {
				color: #00cc00;
			}
			div table .out th, div table td span.out {
				color: #0000ff;
			}
			div#legend th {
				text-align: right;
			}
			div#footer {
				border: none;
				font-size: .8em;
				font-family: Arial, Helvetica, sans-serif;
				width: 476px;
			}
			div#footer img {
				border: none;
				height: 25px;
			}
			div#footer address {
				text-align: right;
			}
			div#footer #version {
				margin: 0;
				padding: 0;
				float: left;
				width: 88px;
				text-align: right;
			}
		</style>
	</head>
<!-- End Head -->
<body>
    <h1>FortiGate100D WAN(ether 6) Enlace PtP Jalife - FiberCorp/Flow (300M) - Central Corrientes</h1> <div id="sysdetails"> <table> <tr> <td>Equipo:</td> <td>Fortigate 100D ERSA Corrientes Central</td> </tr> <tr> <td>Mantenido por:</td> <td>redes@ersaurbano.com</td> </tr> <tr> <td>Descripcion:</td> <td>Port 6 </td> </tr> <tr> <td>Tipo de puerta:</td> <td>ethernetCsmacd (6)</td> </tr> <tr> <td>Nombre de puerta:</td> <td>port6</td> </tr> <tr> <td>Max Speed:</td> <td>125.0 MBytes/s</td> </tr> <tr> <td>Ip:</td> <td>192.168.100.2 (No DNS name)</td> </tr> </table> </div>
    <p>The statistics were last updated <strong>Thursday, 14 July 2022 at 9:16</strong>,<br />
at which time <strong>'ERSA-nodo2'</strong> had been up for <strong>11 days, 22:32:32</strong>.</p>
<!-- Begin `Daily' Graph (5 Minute interval) -->
		<div class="graph">
			<h2>`Daily' Graph (5 Minute Average)</h2>
			<img src="181.14.247.42_port6-day.png" title="day" alt="day" />
			<table>
				<tr>
					<th></th>
					<th scope="col">Max</th>
					<th scope="col">Average</th>
					<th scope="col">Current</th>
				</tr>
				<tr class="in">
					<th scope="row">In</th>
					<td>51.8 Mb/s (5.2%)</td>
					<td>11.2 Mb/s (1.1%) </td>
					<td>18.5 Mb/s (1.8%) </td>
				</tr>
				<tr class="out">
					<th scope="row">Out</th>
					<td>32.1 Mb/s (3.2%) </td>
					<td>2421.2 kb/s (0.2%) </td>
					<td>3429.5 kb/s (0.3%) </td>
				</tr>
			</table>
		</div>
<!-- End `Daily' Graph (5 Minute interval) -->

<!-- Begin `Weekly' Graph (30 Minute interval) -->
		<div class="graph">
			<h2>`Weekly' Graph (30 Minute Average)</h2>
			<img src="181.14.247.42_port6-week.png" title="week" alt="week" />
			<table>
				<tr>
					<th></th>
					<th scope="col">Max</th>
					<th scope="col">Average</th>
					<th scope="col">Current</th>
				</tr>
				<tr class="in">
					<th scope="row">In</th>
					<td>75.4 Mb/s (7.5%)</td>
					<td>8516.9 kb/s (0.9%) </td>
					<td>22.8 Mb/s (2.3%) </td>
				</tr>
				<tr class="out">
					<th scope="row">Out</th>
					<td>26.8 Mb/s (2.7%) </td>
					<td>1527.4 kb/s (0.2%) </td>
					<td>3281.9 kb/s (0.3%) </td>
				</tr>
			</table>
		</div>
<!-- End `Weekly' Graph (30 Minute interval) -->

<!-- Begin `Monthly' Graph (2 Hour interval) -->
		<div class="graph">
			<h2>`Monthly' Graph (2 Hour Average)</h2>
			<img src="181.14.247.42_port6-month.png" title="month" alt="month" />
			<table>
				<tr>
					<th></th>
					<th scope="col">Max</th>
					<th scope="col">Average</th>
					<th scope="col">Current</th>
				</tr>
				<tr class="in">
					<th scope="row">In</th>
					<td>30.9 Mb/s (3.1%)</td>
					<td>8531.9 kb/s (0.9%) </td>
					<td>5392.4 kb/s (0.5%) </td>
				</tr>
				<tr class="out">
					<th scope="row">Out</th>
					<td>15.2 Mb/s (1.5%) </td>
					<td>1512.6 kb/s (0.2%) </td>
					<td>355.8 kb/s (0.0%) </td>
				</tr>
			</table>
		</div>
<!-- End `Monthly' Graph (2 Hour interval) -->

<!-- Begin `Yearly' Graph (1 Day interval) -->
		<div class="graph">
			<h2>`Yearly' Graph (1 Day Average)</h2>
			<img src="181.14.247.42_port6-year.png" title="year" alt="year" />
			<table>
				<tr>
					<th></th>
					<th scope="col">Max</th>
					<th scope="col">Average</th>
					<th scope="col">Current</th>
				</tr>
				<tr class="in">
					<th scope="row">In</th>
					<td>11.7 Mb/s (1.2%)</td>
					<td>7904.4 kb/s (0.8%) </td>
					<td>10.1 Mb/s (1.0%) </td>
				</tr>
				<tr class="out">
					<th scope="row">Out</th>
					<td>2501.9 kb/s (0.3%) </td>
					<td>1386.2 kb/s (0.1%) </td>
					<td>2409.8 kb/s (0.2%) </td>
				</tr>
			</table>
		</div>
<!-- End `Yearly' Graph (1 Day interval) -->

<!-- Begin Legend -->
		<div id="legend">
			<table>
				<tr class="in">
					<th scope="row">GREEN ###</th>
					<td>Incoming Traffic in Bits per Second</td>
				</tr>
				<tr class="out">
					<th scope="row">BLUE ###</th>
					<td>Outgoing Traffic in Bits per Second</td>
				</tr>
			</table>
		</div>
<!-- End Legend -->
<!-- Begin MRTG Block -->
		<div id="footer">
			<a href="http://oss.oetiker.ch/mrtg/"><img src="mrtg-l.png" width="63" title="MRTG" alt="MRTG" /><img src="mrtg-m.png" width="25" title="MRTG" alt="MRTG" /><img src="mrtg-r.png" width="388" title="Multi Router Traffic Grapher" alt="Multi Router Traffic Grapher" /></a>
			<p id="version">2.17.7</p>
			<address>
				<a href="http://tobi.oetiker.ch/">Tobias Oetiker</a>
				<a href="mailto:tobi+mrtglink@oetiker.ch">&lt;tobi@oetiker.ch&gt;</a><br />
and				<a href="http://www.bungi.com/">Dave Rand</a>
				<a href="mailto:dlr@bungi.com">&lt;dlr@bungi.com&gt;</a>
			</address>
		</div>
<!-- End MRTG Block -->
	</body>
</html>

