<!DOCTYPE html>
<html lang="en">
<!-- MRTG 2.17.7 -->
<!-- Begin Head -->
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="refresh" content="300" />
		<title>port2 -- FG100D_CORDOBA</title>
<!-- maxin d 2513934 -->
<!-- maxout d 637589 -->
<!-- avin d 1411058 -->
<!-- avout d 137128 -->
<!-- cuin d 1559234 -->
<!-- cuout d 231267 -->
<!-- avmxin d 1535072 -->
<!-- avmxout d 155820 -->
<!-- maxin w 2510489 -->
<!-- maxout w 1941718 -->
<!-- avin w 1378191 -->
<!-- avout w 239143 -->
<!-- cuin w 1236002 -->
<!-- cuout w 165127 -->
<!-- avmxin w 1721755 -->
<!-- avmxout w 387073 -->
<!-- maxin m 2509640 -->
<!-- maxout m 846884 -->
<!-- avin m 1370597 -->
<!-- avout m 238513 -->
<!-- cuin m 498855 -->
<!-- cuout m 84703 -->
<!-- avmxin m 2014840 -->
<!-- avmxout m 589888 -->
<!-- maxin y 1759239 -->
<!-- maxout y 357281 -->
<!-- avin y 1285408 -->
<!-- avout y 241079 -->
<!-- cuin y 1654000 -->
<!-- cuout y 238666 -->
<!-- avmxin y 2430512 -->
<!-- avmxout y 1451955 -->
		<style>
			body {
				background-color: #ffffff;
    			color: #000000;
			}
			div {
				border-bottom: 2px solid #aaa;
				padding-bottom: 10px;
				margin-bottom: 5px;
			}
			div h2 {
				font-size: 1.2em;
			}
			div.graph img {
				margin: 5px 0;
			}
			div.graph table, div#legend table {
				font-size: .8em;
			}
			div.graph table td {
				padding: 0 10px;
				text-align: right;
			}
			div table .in th, div table td span.in {
				color: #00cc00;
			}
			div table .out th, div table td span.out {
				color: #0000ff;
			}
			div#legend th {
				text-align: right;
			}
			div#footer {
				border: none;
				font-size: .8em;
				font-family: Arial, Helvetica, sans-serif;
				width: 476px;
			}
			div#footer img {
				border: none;
				height: 25px;
			}
			div#footer address {
				text-align: right;
			}
			div#footer #version {
				margin: 0;
				padding: 0;
				float: left;
				width: 88px;
				text-align: right;
			}
		</style>
	</head>
<!-- End Head -->
<body>
    <h1>FortiGate 100D Interfaz WAN2 (ISP Claro) (ether2) - Velez1 Cordoba</h1> <div id="sysdetails"> <table> <tr> <td>Equipo:</td> <td>FortiGate 100D</td> </tr> <tr> <td>Mantenido por:</td> <td>redes@ersaurbano.com</td> </tr> <tr> <td>Descripcion:</td> <td>port2  </td> </tr> <tr> <td>Tipo de Puerta:</td> <td>ethernetCsmacd (6)</td> </tr> <tr> <td>Nombre de Puerta:</td> <td>port2</td> </tr> <tr> <td>Max Speed:</td> <td>12.5 MBytes/s</td> </tr> <tr> <td>Ip:</td> <td>190.221.166.34 (host34.190-221-166.telmex.net.ar)</td> </tr> </table> </div>
    <p>The statistics were last updated <strong>Thursday, 14 July 2022 at 9:16</strong>,<br />
at which time <strong>'FG100D_CORDOBA'</strong> had been up for <strong>1 day, 16:16:17</strong>.</p>
<!-- Begin `Daily' Graph (5 Minute interval) -->
		<div class="graph">
			<h2>`Daily' Graph (5 Minute Average)</h2>
			<img src="181.15.143.238_port2-day.png" title="day" alt="day" />
			<table>
				<tr>
					<th></th>
					<th scope="col">Max</th>
					<th scope="col">Average</th>
					<th scope="col">Current</th>
				</tr>
				<tr class="in">
					<th scope="row">In</th>
					<td>20.1 Mb/s (20.1%)</td>
					<td>11.3 Mb/s (11.3%) </td>
					<td>12.5 Mb/s (12.5%) </td>
				</tr>
				<tr class="out">
					<th scope="row">Out</th>
					<td>5100.7 kb/s (5.1%) </td>
					<td>1097.0 kb/s (1.1%) </td>
					<td>1850.1 kb/s (1.9%) </td>
				</tr>
			</table>
		</div>
<!-- End `Daily' Graph (5 Minute interval) -->

<!-- Begin `Weekly' Graph (30 Minute interval) -->
		<div class="graph">
			<h2>`Weekly' Graph (30 Minute Average)</h2>
			<img src="181.15.143.238_port2-week.png" title="week" alt="week" />
			<table>
				<tr>
					<th></th>
					<th scope="col">Max</th>
					<th scope="col">Average</th>
					<th scope="col">Current</th>
				</tr>
				<tr class="in">
					<th scope="row">In</th>
					<td>20.1 Mb/s (20.1%)</td>
					<td>11.0 Mb/s (11.0%) </td>
					<td>9888.0 kb/s (9.9%) </td>
				</tr>
				<tr class="out">
					<th scope="row">Out</th>
					<td>15.5 Mb/s (15.5%) </td>
					<td>1913.1 kb/s (1.9%) </td>
					<td>1321.0 kb/s (1.3%) </td>
				</tr>
			</table>
		</div>
<!-- End `Weekly' Graph (30 Minute interval) -->

<!-- Begin `Monthly' Graph (2 Hour interval) -->
		<div class="graph">
			<h2>`Monthly' Graph (2 Hour Average)</h2>
			<img src="181.15.143.238_port2-month.png" title="month" alt="month" />
			<table>
				<tr>
					<th></th>
					<th scope="col">Max</th>
					<th scope="col">Average</th>
					<th scope="col">Current</th>
				</tr>
				<tr class="in">
					<th scope="row">In</th>
					<td>20.1 Mb/s (20.1%)</td>
					<td>11.0 Mb/s (11.0%) </td>
					<td>3990.8 kb/s (4.0%) </td>
				</tr>
				<tr class="out">
					<th scope="row">Out</th>
					<td>6775.1 kb/s (6.8%) </td>
					<td>1908.1 kb/s (1.9%) </td>
					<td>677.6 kb/s (0.7%) </td>
				</tr>
			</table>
		</div>
<!-- End `Monthly' Graph (2 Hour interval) -->

<!-- Begin `Yearly' Graph (1 Day interval) -->
		<div class="graph">
			<h2>`Yearly' Graph (1 Day Average)</h2>
			<img src="181.15.143.238_port2-year.png" title="year" alt="year" />
			<table>
				<tr>
					<th></th>
					<th scope="col">Max</th>
					<th scope="col">Average</th>
					<th scope="col">Current</th>
				</tr>
				<tr class="in">
					<th scope="row">In</th>
					<td>14.1 Mb/s (14.1%)</td>
					<td>10.3 Mb/s (10.3%) </td>
					<td>13.2 Mb/s (13.2%) </td>
				</tr>
				<tr class="out">
					<th scope="row">Out</th>
					<td>2858.2 kb/s (2.9%) </td>
					<td>1928.6 kb/s (1.9%) </td>
					<td>1909.3 kb/s (1.9%) </td>
				</tr>
			</table>
		</div>
<!-- End `Yearly' Graph (1 Day interval) -->

<!-- Begin Legend -->
		<div id="legend">
			<table>
				<tr class="in">
					<th scope="row">GREEN ###</th>
					<td>Incoming Traffic in Bits per Second</td>
				</tr>
				<tr class="out">
					<th scope="row">BLUE ###</th>
					<td>Outgoing Traffic in Bits per Second</td>
				</tr>
			</table>
		</div>
<!-- End Legend -->
<!-- Begin MRTG Block -->
		<div id="footer">
			<a href="http://oss.oetiker.ch/mrtg/"><img src="mrtg-l.png" width="63" title="MRTG" alt="MRTG" /><img src="mrtg-m.png" width="25" title="MRTG" alt="MRTG" /><img src="mrtg-r.png" width="388" title="Multi Router Traffic Grapher" alt="Multi Router Traffic Grapher" /></a>
			<p id="version">2.17.7</p>
			<address>
				<a href="http://tobi.oetiker.ch/">Tobias Oetiker</a>
				<a href="mailto:tobi+mrtglink@oetiker.ch">&lt;tobi@oetiker.ch&gt;</a><br />
and				<a href="http://www.bungi.com/">Dave Rand</a>
				<a href="mailto:dlr@bungi.com">&lt;dlr@bungi.com&gt;</a>
			</address>
		</div>
<!-- End MRTG Block -->
	</body>
</html>

