<!DOCTYPE html>
<html lang="en">
<!-- MRTG 2.17.7 -->
<!-- Begin Head -->
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="refresh" content="300" />
		<title>wan2 -- FGT60DSantafe</title>
<!-- maxin d 343 -->
<!-- maxout d 323 -->
<!-- avin d 78 -->
<!-- avout d 57 -->
<!-- cuin d 156 -->
<!-- cuout d 144 -->
<!-- avmxin d 107 -->
<!-- avmxout d 83 -->
<!-- maxin w 205 -->
<!-- maxout w 180 -->
<!-- avin w 73 -->
<!-- avout w 52 -->
<!-- cuin w 68 -->
<!-- cuout w 48 -->
<!-- avmxin w 156 -->
<!-- avmxout w 129 -->
<!-- maxin m 118 -->
<!-- maxout m 94 -->
<!-- avin m 73 -->
<!-- avout m 52 -->
<!-- cuin m 92 -->
<!-- cuout m 68 -->
<!-- avmxin m 219 -->
<!-- avmxout m 197 -->
<!-- maxin y 78 -->
<!-- maxout y 57 -->
<!-- avin y 67 -->
<!-- avout y 48 -->
<!-- cuin y 77 -->
<!-- cuout y 56 -->
<!-- avmxin y 308 -->
<!-- avmxout y 290 -->
		<style>
			body {
				background-color: #ffffff;
    			color: #000000;
			}
			div {
				border-bottom: 2px solid #aaa;
				padding-bottom: 10px;
				margin-bottom: 5px;
			}
			div h2 {
				font-size: 1.2em;
			}
			div.graph img {
				margin: 5px 0;
			}
			div.graph table, div#legend table {
				font-size: .8em;
			}
			div.graph table td {
				padding: 0 10px;
				text-align: right;
			}
			div table .in th, div table td span.in {
				color: #00cc00;
			}
			div table .out th, div table td span.out {
				color: #0000ff;
			}
			div#legend th {
				text-align: right;
			}
			div#footer {
				border: none;
				font-size: .8em;
				font-family: Arial, Helvetica, sans-serif;
				width: 476px;
			}
			div#footer img {
				border: none;
				height: 25px;
			}
			div#footer address {
				text-align: right;
			}
			div#footer #version {
				margin: 0;
				padding: 0;
				float: left;
				width: 88px;
				text-align: right;
			}
		</style>
	</head>
<!-- End Head -->
<body>
    <h1>FortiGate 60D Interfaz WAN2 (ISP ERLAN) - Santa Fe Predio</h1> <div id="sysdetails"> <table> <tr> <td>Equipo:</td> <td>FortiGate 60D</td> </tr> <tr> <td>Mantenido por:</td> <td>redes@ersaurbano.com</td> </tr> <tr> <td>Descripcion:</td> <td>wan2  </td> </tr> <tr> <td>Tipo de Puerta:</td> <td>ethernetCsmacd (6)</td> </tr> <tr> <td>Nombre de Puerta:</td> <td>wan2</td> </tr> <tr> <td>Max Speed:</td> <td>12.5 MBytes/s</td> </tr> <tr> <td>Ip:</td> <td>192.168.0.2 (No DNS name)</td> </tr> </table> </div>
    <p>The statistics were last updated <strong>Thursday, 14 July 2022 at 9:16</strong>,<br />
at which time <strong>'FGT60DSantafe'</strong> had been up for <strong>19:49:59</strong>.</p>
<!-- Begin `Daily' Graph (5 Minute interval) -->
		<div class="graph">
			<h2>`Daily' Graph (5 Minute Average)</h2>
			<img src="181.88.196.146_wan2-day.png" title="day" alt="day" />
			<table>
				<tr>
					<th></th>
					<th scope="col">Max</th>
					<th scope="col">Average</th>
					<th scope="col">Current</th>
				</tr>
				<tr class="in">
					<th scope="row">In</th>
					<td>2744.0 b/s (0.0%)</td>
					<td>624.0 b/s (0.0%) </td>
					<td>1248.0 b/s (0.0%) </td>
				</tr>
				<tr class="out">
					<th scope="row">Out</th>
					<td>2584.0 b/s (0.0%) </td>
					<td>456.0 b/s (0.0%) </td>
					<td>1152.0 b/s (0.0%) </td>
				</tr>
			</table>
		</div>
<!-- End `Daily' Graph (5 Minute interval) -->

<!-- Begin `Weekly' Graph (30 Minute interval) -->
		<div class="graph">
			<h2>`Weekly' Graph (30 Minute Average)</h2>
			<img src="181.88.196.146_wan2-week.png" title="week" alt="week" />
			<table>
				<tr>
					<th></th>
					<th scope="col">Max</th>
					<th scope="col">Average</th>
					<th scope="col">Current</th>
				</tr>
				<tr class="in">
					<th scope="row">In</th>
					<td>1640.0 b/s (0.0%)</td>
					<td>584.0 b/s (0.0%) </td>
					<td>544.0 b/s (0.0%) </td>
				</tr>
				<tr class="out">
					<th scope="row">Out</th>
					<td>1440.0 b/s (0.0%) </td>
					<td>416.0 b/s (0.0%) </td>
					<td>384.0 b/s (0.0%) </td>
				</tr>
			</table>
		</div>
<!-- End `Weekly' Graph (30 Minute interval) -->

<!-- Begin `Monthly' Graph (2 Hour interval) -->
		<div class="graph">
			<h2>`Monthly' Graph (2 Hour Average)</h2>
			<img src="181.88.196.146_wan2-month.png" title="month" alt="month" />
			<table>
				<tr>
					<th></th>
					<th scope="col">Max</th>
					<th scope="col">Average</th>
					<th scope="col">Current</th>
				</tr>
				<tr class="in">
					<th scope="row">In</th>
					<td>944.0 b/s (0.0%)</td>
					<td>584.0 b/s (0.0%) </td>
					<td>736.0 b/s (0.0%) </td>
				</tr>
				<tr class="out">
					<th scope="row">Out</th>
					<td>752.0 b/s (0.0%) </td>
					<td>416.0 b/s (0.0%) </td>
					<td>544.0 b/s (0.0%) </td>
				</tr>
			</table>
		</div>
<!-- End `Monthly' Graph (2 Hour interval) -->

<!-- Begin `Yearly' Graph (1 Day interval) -->
		<div class="graph">
			<h2>`Yearly' Graph (1 Day Average)</h2>
			<img src="181.88.196.146_wan2-year.png" title="year" alt="year" />
			<table>
				<tr>
					<th></th>
					<th scope="col">Max</th>
					<th scope="col">Average</th>
					<th scope="col">Current</th>
				</tr>
				<tr class="in">
					<th scope="row">In</th>
					<td>624.0 b/s (0.0%)</td>
					<td>536.0 b/s (0.0%) </td>
					<td>616.0 b/s (0.0%) </td>
				</tr>
				<tr class="out">
					<th scope="row">Out</th>
					<td>456.0 b/s (0.0%) </td>
					<td>384.0 b/s (0.0%) </td>
					<td>448.0 b/s (0.0%) </td>
				</tr>
			</table>
		</div>
<!-- End `Yearly' Graph (1 Day interval) -->

<!-- Begin Legend -->
		<div id="legend">
			<table>
				<tr class="in">
					<th scope="row">GREEN ###</th>
					<td>Incoming Traffic in Bits per Second</td>
				</tr>
				<tr class="out">
					<th scope="row">BLUE ###</th>
					<td>Outgoing Traffic in Bits per Second</td>
				</tr>
			</table>
		</div>
<!-- End Legend -->
<!-- Begin MRTG Block -->
		<div id="footer">
			<a href="http://oss.oetiker.ch/mrtg/"><img src="mrtg-l.png" width="63" title="MRTG" alt="MRTG" /><img src="mrtg-m.png" width="25" title="MRTG" alt="MRTG" /><img src="mrtg-r.png" width="388" title="Multi Router Traffic Grapher" alt="Multi Router Traffic Grapher" /></a>
			<p id="version">2.17.7</p>
			<address>
				<a href="http://tobi.oetiker.ch/">Tobias Oetiker</a>
				<a href="mailto:tobi+mrtglink@oetiker.ch">&lt;tobi@oetiker.ch&gt;</a><br />
and				<a href="http://www.bungi.com/">Dave Rand</a>
				<a href="mailto:dlr@bungi.com">&lt;dlr@bungi.com&gt;</a>
			</address>
		</div>
<!-- End MRTG Block -->
	</body>
</html>

