<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<HTML>
<HEAD>
    <TITLE>MRTG Index Page</TITLE>
    <!-- Command line is easier to read using "View Page Properties" of your browser -->
    <!-- But not all browsers show that information. :-(                             -->
    <meta http-equiv="content-type" content="text/html; charset=iso-8859-15" >
    <META NAME="Command-Line" CONTENT="/usr/bin/indexmaker /etc/mrtg.cfg" >
    <META HTTP-EQUIV="Refresh" CONTENT="300" >
    <META HTTP-EQUIV="Cache-Control" content="no-cache" >
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache" >
    <META HTTP-EQUIV="Expires" CONTENT="Thu, 07 Jul 2022 18:57:11 GMT" >
    <LINK HREF="favicon.ico" rel="shortcut icon" >
    
<style type="text/css">
/* commandline was: /usr/bin/indexmaker /etc/mrtg.cfg */
/* sorry, no style, just abusing this to place the commandline and pass validation */
</style>
</HEAD>

<BODY bgcolor="#ffffff" text="#000000" link="#000000" vlink="#000000" alink="#000000">


<H1>MRTG Index Page</H1>

<TABLE BORDER=0 CELLPADDING=0 CELLSPACING=10>
<tr>
<td><DIV><B>FortiGate100D WAN2 - Integra Fibra (50/50) - Central Corrientes</B></DIV>
<DIV><A HREF="181.14.247.42_wan2.html"><IMG BORDER=1 ALT="181.14.247.42_wan2 Traffic Graph" SRC="181.14.247.42_wan2-day.png"></A><BR>
<SMALL><!--#flastmod file="181.14.247.42_wan2.html" --></SMALL></DIV>
</td><td><DIV><B>FortiGate100D WAN(ether 6) Enlace PtP Jalife - FiberCorp/Flow (300M) - Central Corrientes</B></DIV>
<DIV><A HREF="181.14.247.42_port6.html"><IMG BORDER=1 ALT="181.14.247.42_port6 Traffic Graph" SRC="181.14.247.42_port6-day.png"></A><BR>
<SMALL><!--#flastmod file="181.14.247.42_port6.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>MikroTik RB951Ui-2HnD - WAN (ether1) - Barracas Bs As</B></DIV>
<DIV><A HREF="181.105.69.97_ether1_wan.html"><IMG BORDER=1 ALT="181.105.69.97_ether1_wan Traffic Graph" SRC="181.105.69.97_ether1_wan-day.png"></A><BR>
<SMALL><!--#flastmod file="181.105.69.97_ether1_wan.html" --></SMALL></DIV>
</td><td><DIV><B>Mikrotik RB951Ui-2HnD Interfaz WAN (ether3) - Gigared 30M - Resistencia Chaco</B></DIV>
<DIV><A HREF="190.183.237.202_ether3.html"><IMG BORDER=1 ALT="190.183.237.202_ether3 Traffic Graph" SRC="190.183.237.202_ether3-day.png"></A><BR>
<SMALL><!--#flastmod file="190.183.237.202_ether3.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>MikroTik RB4011iGS+ Interfaz WAN1 (ether1) (Velez - ISP Claro) - San Carlos Cordoba</B></DIV>
<DIV><A HREF="45.169.105.110_ether1.html"><IMG BORDER=1 ALT="45.169.105.110_ether1 Traffic Graph" SRC="45.169.105.110_ether1-day.png"></A><BR>
<SMALL><!--#flastmod file="45.169.105.110_ether1.html" --></SMALL></DIV>
</td><td><DIV><B>MikroTik RB4011iGS+ Interfaz WAN2 (ISP VOS) - San Carlos Cordoba</B></DIV>
<DIV><A HREF="45.169.105.110_ether10.html"><IMG BORDER=1 ALT="45.169.105.110_ether10 Traffic Graph" SRC="45.169.105.110_ether10-day.png"></A><BR>
<SMALL><!--#flastmod file="45.169.105.110_ether10.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>MikroTik RB3011UiAS Interfaz WAN1 (ether1) (ISP VOS) - LUSA Cordoba</B></DIV>
<DIV><A HREF="45.169.104.118_ether1.html"><IMG BORDER=1 ALT="45.169.104.118_ether1 Traffic Graph" SRC="45.169.104.118_ether1-day.png"></A><BR>
<SMALL><!--#flastmod file="45.169.104.118_ether1.html" --></SMALL></DIV>
</td><td><DIV><B>MikroTik RB3011UiAS Interfaz WAN2 (ether2) (ISP EPEC) - LUSA Cordoba</B></DIV>
<DIV><A HREF="45.169.104.118_ether2.html"><IMG BORDER=1 ALT="45.169.104.118_ether2 Traffic Graph" SRC="45.169.104.118_ether2-day.png"></A><BR>
<SMALL><!--#flastmod file="45.169.104.118_ether2.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>MikroTik RB3011UiAS Interfaz WAN3 (ether3) (ISP Claro por Velez) - LUSA Cordoba</B></DIV>
<DIV><A HREF="45.169.104.118_ether3.html"><IMG BORDER=1 ALT="45.169.104.118_ether3 Traffic Graph" SRC="45.169.104.118_ether3-day.png"></A><BR>
<SMALL><!--#flastmod file="45.169.104.118_ether3.html" --></SMALL></DIV>
</td><td><DIV><B>MikroTik RB952Ui-5ac2nD Interfaz WAN (ether1) (ISP Gigared) - LUSA Corrientes</B></DIV>
<DIV><A HREF="190.7.5.55_ether1.html"><IMG BORDER=1 ALT="190.7.5.55_ether1 Traffic Graph" SRC="190.7.5.55_ether1-day.png"></A><BR>
<SMALL><!--#flastmod file="190.7.5.55_ether1.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>FortiGate 60D Interfaz WAN1 (ISP Telecom Integra 4/4) - Santa Fe Predio</B></DIV>
<DIV><A HREF="181.88.196.146_wan1.html"><IMG BORDER=1 ALT="181.88.196.146_wan1 Traffic Graph" SRC="181.88.196.146_wan1-day.png"></A><BR>
<SMALL><!--#flastmod file="181.88.196.146_wan1.html" --></SMALL></DIV>
</td><td><DIV><B>FortiGate 60D Interfaz WAN2 (ISP ERLAN) - Santa Fe Predio</B></DIV>
<DIV><A HREF="181.88.196.146_wan2.html"><IMG BORDER=1 ALT="181.88.196.146_wan2 Traffic Graph" SRC="181.88.196.146_wan2-day.png"></A><BR>
<SMALL><!--#flastmod file="181.88.196.146_wan2.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B> FortiGate 100D Interfaz WAN1 (ISP Telecom Integra) - Velez1 Cordoba</B></DIV>
<DIV><A HREF="181.15.143.238_wan1.html"><IMG BORDER=1 ALT="181.15.143.238_wan1 Traffic Graph" SRC="181.15.143.238_wan1-day.png"></A><BR>
<SMALL><!--#flastmod file="181.15.143.238_wan1.html" --></SMALL></DIV>
</td><td><DIV><B>FortiGate 100D Interfaz WAN2 (ISP Claro) (ether2) - Velez1 Cordoba</B></DIV>
<DIV><A HREF="181.15.143.238_port2.html"><IMG BORDER=1 ALT="181.15.143.238_port2 Traffic Graph" SRC="181.15.143.238_port2-day.png"></A><BR>
<SMALL><!--#flastmod file="181.15.143.238_port2.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>FortiGate 60D Interfaz WAN1 (ISP Iplan) (DMZ) - Pellegrini Buenos Aires</B></DIV>
<DIV><A HREF="190.210.223.203_dmz.html"><IMG BORDER=1 ALT="190.210.223.203_dmz Traffic Graph" SRC="190.210.223.203_dmz-day.png"></A><BR>
<SMALL><!--#flastmod file="190.210.223.203_dmz.html" --></SMALL></DIV>
</td><td><DIV><B>FortiGate 60D Interfaz WAN2 (ISP Fibertel Flow) - Pellegrini Buenos Aires</B></DIV>
<DIV><A HREF="190.210.223.203_wan2.html"><IMG BORDER=1 ALT="190.210.223.203_wan2 Traffic Graph" SRC="190.210.223.203_wan2-day.png"></A><BR>
<SMALL><!--#flastmod file="190.210.223.203_wan2.html" --></SMALL></DIV>
</td></tr>
<tr>
<td><DIV><B>FortiGate 60D Interfaz WAN2 (ISP Telecentro) - Barrio Nuevo Buenos Aires</B></DIV>
<DIV><A HREF="190.55.157.22_wan2.html"><IMG BORDER=1 ALT="190.55.157.22_wan2 Traffic Graph" SRC="190.55.157.22_wan2-day.png"></A><BR>
<SMALL><!--#flastmod file="190.55.157.22_wan2.html" --></SMALL></DIV>
</td><td><DIV><B>FortiGate 30E Interfaz WAN (ISP ARNET) Boleteria Retiro Buenos Aires</B></DIV>
<DIV><A HREF="boleteria119pc.dtdns.org_boleteria119w1.html"><IMG BORDER=1 ALT="boleteria119pc.dtdns.org_boleteria119w1 Traffic Graph" SRC="boleteria119pc.dtdns.org_boleteria119w1-day.png"></A><BR>
<SMALL><!--#flastmod file="boleteria119pc.dtdns.org_boleteria119w1.html" --></SMALL></DIV>
</td></tr>
<tr>
<td></td>
</tr>
</TABLE>

<BR>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR>
    <TD WIDTH=63><A
    HREF="http://oss.oetiker.ch/mrtg/"><IMG
    BORDER=0 SRC="mrtg-l.png" WIDTH=63 HEIGHT=25 ALT="MRTG"></A></TD>
    <TD WIDTH=25><A
    HREF="http://oss.oetiker.ch/mrtg/"><IMG
    BORDER=0 SRC="mrtg-m.png" WIDTH=25 HEIGHT=25 ALT=""></A></TD>
    <TD WIDTH=388><A
    HREF="http://oss.oetiker.ch/mrtg/"><IMG
    BORDER=0 SRC="mrtg-r.png" WIDTH=388 HEIGHT=25
    ALT="Multi Router Traffic Grapher"></A></TD>
  </TR>
</TABLE>
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0>
  <TR VALIGN=top>
  <TD WIDTH=88 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  version 2.17.7</FONT></TD>
  <TD WIDTH=388 ALIGN=RIGHT><FONT FACE="Arial,Helvetica" SIZE=2>
  <A HREF="http://tobi.oetiker.ch/">Tobias Oetiker</A>
  <A HREF="mailto:tobi+mrtglink@oetiker.ch">&lt;tobi@oetiker.ch&gt;</A>
  and&nbsp;<A HREF="http://www.bungi.com/">Dave&nbsp;Rand</A>&nbsp;<A HREF="mailto:dlr@bungi.com">&lt;dlr@bungi.com&gt;</A></FONT>
  </TD>
</TR>
</TABLE>
</BODY>
</HTML>
